.topnav {
    background: linear-gradient(92.04deg, #131232 24.18%, #19398a 50.95%, #161641 80.32%);
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand h4 {
    color: white;
    margin-bottom: 0;
}

.navbar-toggler {
    color: #222 !important;
    border: none;
    border-color: transparent !important;
}

.navbar-toggler:focus {
    outline: none !important;
}

.navbar-toggler .fabars {
    display: none;
}

.navbar-toggler .fatimes {
    display: flex;
}

.navbar-toggler.collapsed .fatimes {
    display: none;
}

.navbar-toggler.collapsed .fabars {
    display: flex;
}

.navbar-toggler svg {
    fill: #fff;
}

.nav-link {
    color: white !important;
    text-transform: capitalize;
    width: max-content;
    text-align: center;
    margin-right: 1rem;
    position: relative;
}

.nav-link.active {
    color: salmon !important;
    border-bottom: 2px solid salmon;
}


#profile-dropdown {
    margin-left: 3rem;
}

#profile-dropdown span {
    margin-right: .5rem;
}



@media screen and (max-width:991px) {
    #profile-dropdown {
        margin-left: 0;
    }

}